<form #addForm="ngForm" (ngSubmit)="saveBirth(addForm)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" [(ngModel)]="birth.firstName" name="firstName" id="firstName" required>
  </div>
  <div class="form-group">
    <label for="middleName">Middle Name</label>
    <input type="text"  class="form-control" [(ngModel)]="birth.middleName" name="middleName" id="middleName" required>
  </div>
  <div class="form-group">
    <label for="firstName">Last Name</label>
    <input type="text" class="form-control" [(ngModel)]="birth.lastName" name="firstName" id="lastName" required>
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="date"  class="form-control" [(ngModel)]="birth.dateOfBirth" name="dateOfBirth" id="dateOfBirth" required>
  </div>
  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save</button>
  <button class="btn btn-warning" type="reset">Reset</button>
</form>
