<div class="d-flex">
<a class="btn btn-success btn-lg" [routerLink]="['/births/add']">
  <i class="bi bi-plus"></i>
  Add New
</a>
  <button class="btn btn-default" (click)="displayType=0"><i class="bi bi-table"></i></button>
  <button class="btn btn-default" (click)="displayType=1"><i class="bi bi-grid"></i></button>
</div>
<ng-container *ngIf="displayType ===0">
  <app-table [births]="births" (deleteBirth)="deleteBirth($event)"></app-table>
</ng-container>
<ng-container *ngIf="displayType ===1">
  <app-grid [births]="births" (deleteBirth)= "deleteBirth($event)"></app-grid>
</ng-container>


