<a class="btn btn-success btn-lg" [routerLink]="['/births/add']">
  <i class="bi bi-plus"></i>
  Add New
</a>

<table class="table table-bordered">
  <thead>
  <tr>
    <td>
      Name
    </td>
    <td>
      Date Of Birth
    </td>
    <td colspan="2">Actions</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let birth of births;">
    <td>{{birth.firstName}} {{birth.middleName}} {{birth.lastName}}</td>
    <td>{{birth.dateOfBirth}}</td>
    <td>
      <a [routerLink]="['/births', birth.id]" class="btn btn-primary"><i class="bi bi-eye">Details</i></a>
      <a [routerLink]="['/births/edit', birth.id]" class="btn btn-warning"><i class="bi bi-pencil">Edit</i></a>
      <button class="btn btn-danger" (click)="deleteBirth(birth.id)"><i class="bi bi-trash"></i>Delete</button>
    </td>
  </tr>
  </tbody>
</table>
