<a [routerLink]="['/deaths']" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Back to List</a>
<form [formGroup]="deathForm" (ngSubmit)="saveDeath()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName">
    <div class="text-danger" *ngIf="deathForm.get('firstName')?.touched && deathForm.get('firstName')?.invalid">First Name is Required</div>
  </div>
  <div class="form-group">
    <label for="middleName">Middle Name</label>
    <input type="text" class="form-control" id="middleName" formControlName="middleName">
    <div class="text-danger" *ngIf="deathForm.get('middleName')?.touched && deathForm.get('middleName')?.invalid">Middle Name is Required</div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName">
    <div class="text-danger" *ngIf="deathForm.get('lastName')?.touched && deathForm.get('lastName')?.invalid">Last Name is Required</div>
  </div>
  <div class="form-group">
    <label for="dateOfDeath">Date of Death</label>
    <input type="date" class="form-control" id="dateOfDeath" formControlName="dateOfDeath">
    <div class="text-danger" *ngIf="deathForm.get('dateOfDeath')?.touched && deathForm.get('dateOfDeath')?.invalid">Date of death should not be empty</div>
  </div>
  <button class="btn btn-success" type="submit">Save</button>
  <button class="btn btn-warning" type="reset">Reset</button>
</form>
